
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" type="text/css" href="../static/css/color.css">  
    <link rel="stylesheet" type="text/css" href="../static/css/picture.css">  

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Fairbnb</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">Data Analytics</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<br><br>


<br><br>

  <div class="container jumbotron">

    <div class="starter-template">
        <h1>FAIRBNB</h1>
        <br></br>
        <h2>Best price for renting out your lodging!</h2>
        <br></br>
        <br></br>
    </div>
  </div>

<div class = "container ">   <!-- container for inputs and the map -->
<div class = "container set_width">  <!-- container for input1 and input2 -->
<!-- 
<form class="form-horizontal"> -->
<form  class="form-horizontal" action="/output" method="GET">
  <fieldset>
    <legend>Input your information here</legend>
    <div class="form-group">
      <label for="address" class="col-lg-2 control-label">Address</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="address" name="address" placeholder="260 Sheridan Ave, Palo Alto, CA">
      </div>
    </div>

    <div class="form-group">
      <label for="roomtype" class="col-lg-2 control-label">Room Type</label>
      <div class="col-lg-10">
        <select class="form-control" id="roomtype" name = 'roomtype'>
          <option>Entire Place</option>
          <option>Private Room</option>
          <option>Shared Room</option>
        </select>
      </div>
    </div>

     <div class="form-group">
      <label for="hostgender" class="col-lg-2 control-label">Gender</label>
      <div class="col-lg-10">
        <select class="form-control" id="hostgender" name = 'gender'>
          <option>Female</option>
          <option>Male</option>
          <option>Couple</option>
          <option>Others</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="bedrooms" class="col-lg-2 control-label">Bedrooms</label>
      <div class="col-lg-10">
        <select class="form-control" id="bedrooms" name = "bedrooms">
          <option>0</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8+</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="beds" class="col-lg-2 control-label">Beds</label>
      <div class="col-lg-10">
        <select class="form-control" id="beds" name = 'beds'>
          <option>0</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
          <option>11</option>
          <option>12</option>
          <option>13</option>
          <option>14</option>
          <option>15</option>
          <option>16+</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="bathrooms" class="col-lg-2 control-label">Bathrooms</label>
      <div class="col-lg-10">
        <select class="form-control" id="bathrooms" name ="bathrooms">
          <option>0</option>
          <option>0.5</option>
          <option>1</option>
          <option>1.5</option>
          <option>2</option>
          <option>2.5</option>
          <option>3</option>
          <option>3.5</option>
          <option>4</option>
          <option>4.5</option>
          <option>5</option>
          <option>5.5</option>
          <option>6</option>
          <option>6.5</option>
          <option>7</option>
          <option>7.5</option>
          <option>8+</option>
        </select>
      </div>
    </div>

      <div class="form-group">
      <label for="accommodates" class="col-lg-2 control-label">Accommodates</label>
      <div class="col-lg-10">
        <select class="form-control" id="accommodates" name = 'accommodates'>
          <option>0</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
          <option>11</option>
          <option>12</option>
          <option>13</option>
          <option>14</option>
          <option>15</option>
          <option>16+</option>
        </select>
      </div>
    </div>  

<div class="container set_width2">   <!-- container of amenities -->
  <div class="checkbox-group hosting_amenities filters-section panel-body panel-light" data-name="hosting_amenities">
    <div class="row">
      <div class="col-md-2 filter-label">
        <label>Amenities</label>
      </div>

      <div class="col-md-9">
        <div class="row row-condensed filters-columns">
          <div class="col-md-4">
            <label class="media checkbox text-truncate" title="Wireless Internet">
              <input type="checkbox" name="wireless_internet" value="1" class="pull-left">
              Wireless Internet
            </label>
          </div>
          <div class="col-md-4">
            <label class="media checkbox text-truncate" title="TV">
              <input type="checkbox" name="tv" value="1" class="pull-left">
              TV
            </label>
          </div>
          <div class="col-md-4">
            <label class="media checkbox text-truncate" title="Kitchen">
              <input type="checkbox" name="kitchen" value="1" class="pull-left">
              Kitchen
            </label>
          </div>
        </div>

        <div class="filters-more">
          <hr>
          <div class="row row-condensed filters-columns">
            <div class="col-md-4">
              <label class="media checkbox text-truncate" title="Air Conditioning">
                <input type="checkbox" name="air_conditioning" value="1" class="pull-left">
                Air Conditioning
              </label>
            </div>
            <div class="col-md-4">
              <label class="media checkbox text-truncate" title="Breakfast">
                <input type="checkbox" name="breakfast" value="1" class="pull-left">
                Breakfast
              </label>
            </div>

            <div class="col-md-4">
              <label class="media checkbox text-truncate" title="Cable TV">
                <input type="checkbox" name="cable_tv" value="1" class="pull-left">
                Cable TV
              </label>
            </div>

              <div class="col-md-4">
              <label class="media checkbox text-truncate" title="Suitable for Events">
                <input type="checkbox" name="events" value="1" class="pull-left">
                Events
              </label>
            </div>
            <div class="col-md-4">
              <label class="media checkbox text-truncate" title="Carbon Monoxide Detector">
                <input type="checkbox" name="co_detector" value="1" class="pull-left">
                CO Detector
              </label>
            </div>
            <div class="col-md-4">
              <label class="media checkbox text-truncate" title="Doorman">
                <input type="checkbox" name="doorman" value="1" class="pull-left">
                Doorman
              </label>
            </div>
            <div class="col-md-4">
              <label class="media checkbox text-truncate" title="Washer">
                <input type="checkbox" name="washer" value="1" class="pull-left">
                Washer
              </label>
            </div>
            <div class="col-md-4">
              <label class="media checkbox text-truncate" title="Dryer">
                <input type="checkbox" name="dryer" value="1" class="pull-left">
                Dryer
              </label>
            </div>
            <div class="col-md-4">
              <label class="media checkbox text-truncate" title="First Aid Kit">
                <input type="checkbox" name="first_aid_kit" value="1" class="pull-left">
                First Aid Kit
              </label>
            </div>
            <div class="col-md-4">
              <label class="media checkbox text-truncate" title="Free Parking on Premises">
                <input type="checkbox" name="free_parking" value="1" class="pull-left">
                Free Parking
              </label>
            </div>
            <div class="col-md-4">
              <label class="media checkbox text-truncate" title="Gym">
                <input type="checkbox" name="gym" value="1" class="pull-left">
                Gym
              </label>
            </div>
            <div class="col-md-4">
              <label class="media checkbox text-truncate" title="Heating">
                <input type="checkbox" name="heating" value="1" class="pull-left">
                Heating
              </label>
            </div>
             <div class="col-md-4">
              <label class="media checkbox text-truncate" title="Essentials">
                <input type="checkbox" name="essentials" value="1" class="pull-left">
                Essentials
              </label>
            </div>
            <div class="col-md-4">
              <label class="media checkbox text-truncate" title="Hot Tub">
                <input type="checkbox" name="hot_tub" value="1" class="pull-left">
                Hot Tub
              </label>
            </div>
            <div class="col-md-4">
              <label class="media checkbox text-truncate" title="Indoor Fireplace">
                <input type="checkbox" name="fireplace" value="1" class="pull-left">
                Fireplace
              </label>
            </div>
            <div class="col-md-4">
              <label class="media checkbox text-truncate" title="Pool">
                <input type="checkbox" name="pool" value="1" class="pull-left">
                Pool
              </label>
            </div>
            <div class="col-md-4">
              <label class="media checkbox text-truncate" title="Fire Extinguisher">
                <input type="checkbox" name="fire_extinguisher" value="1" class="pull-left">
                Fire Extinguisher
              </label>
            </div>
            <div class="col-md-4">
              <label class="media checkbox text-truncate" title="Shampoo">
                <input type="checkbox" name="shampoo" value="1" class="pull-left">
                Shampoo
              </label>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div> <!-- amenity container ends here -->

<div class="form-group">
      <div class="col-lg-10">
        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
      </div>
</div>

</fieldset>
</form>

</div>   <!-- container of input1 and input2 ends here -->

<br><br>

<!-- 
      <form  action="/output" method="GET">
        <div class="form-group">
          <label for="ID">PostID:</label>
          <input type="text" id="ID" name='ID' placeholder="e.g. ">
          <input type="hidden" name="selected_menu" value="0" id="hid"/>
        </div>

        <div>
          <button type="submit" class="btn btn-default btn-lg">Find the price for this PostID!</button>
        </div>

      </form> -->
<!-- 
</div>  /.container -->

<div class="container">
<style>
      #map-canvas {
        width: 500px;
        height: 500px;
        /*margin: 60px;*/
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="static/js/geodata.js"></script>
    <script>
      function initialize() {
        var mapCanvas = document.getElementById('map-canvas');
        var mapOptions = {
          // center: new google.maps.LatLng(37.537662,-122.197198),
          center: new google.maps.LatLng(37.426327,-122.141076),
          zoom: 12,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions)
        map.data.addGeoJson(geodata);
          var featureStyle = {
            Color: '#ff3333',
            Weight: 1
          }
        map.data.setStyle(featureStyle)
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>
  <div id="map-canvas"></div>
</div>

<br></br>

</div> <!-- container for all inputs and the map ends here -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
  </body>
</html>
